.box{
	font-size: 20px;
	text-align: center;

	/* Shorcut */
	border: 1px solid chocolate; 
	/* border-width: 1px;
	border-style: solid;
	border-color: chocolate; */

	padding: 10px;
	

	/* Shorcut */

	/* General hacia todos lados */
	/* margin: 10px; */

	/* Y X */
	margin: 30px 15px;  
	/* padding: 0 3px 0 0; */

	/* padding-right: 10px; */
}

/* Selectores Hijos */
p > a{
	color: tomato
}

/* Selector adyacente */
h5 + h6{
	color: blueviolet;
}

/* Selector atributos */
a[href=".pdf"]{
	text-decoration: none;
	color: orange;
}

img[alt=""]{
	border:1px solid red;
}